/* 
    Created on : Apr 2, 2016, 3:32:41 PM
    Author     : Yuriy
*/

.spittleMessage{
    font-weight: bold;
}

.spittleTime{
    font-size: 12px;
}

.spittleLocation{
    
}

span.errors{
    color: red;
}

div.errors{
    background-color: #ffcccc;
    border: 2px solid red;
}

label.error{
    color: red;
}

input.error {
    background-color: #ffcccc;
}