<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>Spittles</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Recent Spittles</h1>

            <ul>
                <li th:each="spittle : ${spittleList}" th:text="${spittle}">
                    <div class="spittleMessage">
                        <label th:value="${spittle.message}" />
                    </div>
                    <div>
                        <span class="spittleTime"><label th:value="${spittle.time}" /></span>
                        <span class="spittleLocation">
                            (<label th:value="${spittle.latitude}" />,
                            <label th:value="${spittle.longitude}" />)</span>
                    </div>
                </li>

            </ul>
        </div>
    </body>
</html>
