<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>Spittle</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="spittleView">
                <div class="spittleMessage"><c:out value="${spittle.message}" /></div>
                <div>
                    <span class="spittleTime"><c:out value="${spittle.time}" /></span>
                </div>
            </div>
        </div>
    </body>
</html>
