<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
    <head>
        <title>Spittles</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="spittleForm">
                <h1>Spit it out...</h1>
                <form method="POST" th:object="${spittleForm}">
                    <div class="errors" th:if="${#fields.hasErrors('*')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                    
                    <input type="hidden" th:field="*{latitude}"/>
                    <input type="hidden" th:field="*{longitude}"/>
                    <label th:class="${#fields.hasErrors('message')}? 'error'" for="ta1">Message</label><br/>
                    <textarea id="ta1" th:field="*{message}" th:class="${#fields.hasErrors('message')}? 'error'" cols="80" rows="5"></textarea><br/>
                    <input type="submit" value="Add" />
                </form>
            </div>

            <div class="listTitle">
                <h1>Recent Spittles</h1>

                <ul>
                    <li th:each="spittle : ${spittleList}">
                        <div class="spittleMessage">
                            <label th:text="${spittle.message}" />
                        </div>
                        <div>
                            <span class="spittleTime"><label th:text="${spittle.time}" /></span>
                            <span class="spittleLocation">
                                (<label th:text="${spittle.latitude}" />,
                                <label th:text="${spittle.longitude}" />)</span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </body>
</html>
